<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logout</title>
</head>
<body>
    {%include "barra.html"%}
    <div class="row my-4">
        <div class="col-md-6 offset-md-3">
            <div class="border p-3 bg-white">
                <h4>Logout</h4>
                <hr>
                <div class="alert alert-info">
                    <h5>Usted ha sido desconectado</h5>
                </div>
                <a href="{% url 'user-login' %}">Login</a>
            </div>
        </div>
    </div>
</body>
</html>