<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nueva Contrseña</title>
</head>
<body>
    {%include "barra.html"%}
    <div class="row my-4">
        <div class="col-md-6 offset-md-3">
            <div class="border p-3 bg-white">
                <h4>Nueva contraseña</h4>
                <hr>
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_table}}
                    <br/>
                    <br/>
                    <div style="width:100%; height:100%">
                    <input class="btn btn-info" type="submit" value="Guardar">
                    </div>
                    <br/>
                     <br/>
                    <p class="mt-5 mb-3 text-muted">&copy; 2017–2022</p>
                </form>
            </div>
        </div>
    </div>
    
</body>
</html>